body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(240, 214, 176);
    margin: 0px;
}

.header {
    font-size: 50px;
    font-weight: 600;
    margin: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header p {
    margin: 0px;
}

.display {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    
}

.card {
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 220px;
    gap: 10px;
    padding: 10px;
    background-color:rgb(156, 80, 0);
    border-radius: 10px;
    color: white;
    align-items: center;

}
.card p {
    margin: 0px;
   
}

.showDialog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.showDialog button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 15px;
    height: 45px;
    width: 140px;
    background:rgb(128, 206, 3);
    border: none;
    border-radius: 10px;


}

dialog {
    height: 200px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: row;
    width: 260px;
    justify-content: space-between;
}